html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  padding: 1em 0.5em 1em 0.5em;
  margin: auto;
  min-width: 250px;
}

.navLinks {
  display: flex;
  justify-content: space-evenly;
}

.navLinks > li {
  padding: 0 0.5em 0 0.5em;
  font-weight: 600;
  font-size: medium;
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  .headerDiv {
  margin-top: 3em;
  }
}

@media screen and (min-width: 700px) {

  .headerDiv {
    margin-top: 5em;
  }

  .navLinks > li {
    font-size: larger;
  }
}

.headerDiv {
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
  
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center; */
}

.mainLogo {
  object-fit: contain;
}

/* .mainTitle {
  color: #10886D;
  cursor: pointer;
}

.subMainTitle {
  font-size: large;
} */

.introText {
  line-height: 2em;
  color: #E8AA43
}
 
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  justify-content: space-evenly;
  padding-top: 3em;
}

.dishCard {
  max-width: 400px;
  padding: 2em;
}

.dishCard > * {
  padding: 0.5em 0 0.5em 0;
}

.dishName {
  padding-top: 1.5em;
  font-weight: 700;
  font-size: larger;
  color: #2B957D;
  text-transform: uppercase;
  line-height: 1.4em;
  letter-spacing: 0.2em;
}

.dishDescription {
  text-align: justify;
  line-height: 1.5em;
}

.dishPrice {
  font-weight: 700;
  font-size: larger;
  color: #F16A7F;
}

.addToCart {
  text-transform: uppercase;
}

.menuContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
  align-content: center;
  margin: auto;
  padding-top: 10em;
}

.imageMenu {
  padding: 1em 0 2em 0;
}

@media screen and (max-width: 700px) {
  .dishCard {
    width: 100%;
    padding: 2em 0 0 0;
  }

  .menuContainer {
    padding-top: 5em;
  }
}

@media screen and (max-height: 700px) {
  .headerDiv {
    height: 100vh;
  }
}