html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  padding: 1em 0.5em 1em 0.5em;
  margin: auto;
  min-width: 250px;
  z-index: 5;
}

.navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navLinks > li {
  padding: 0 0.5em 0 0.5em;
  font-weight: 600;
  font-size: medium;
  color: #2b957d;
}

#cart > * {
  display: inline-block;
  padding: 0 0.1em 0 0.1em;
  color:#F16A7F;
}

.headerDiv {
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.mainLogo {
  object-fit: contain;
}

.introText {
  line-height: 3em;
  width: 100%;
  color: #E8AA43;
  font-size: large;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #3f3f3f;
  padding: 1em;
 
}

.introText > p {
  max-width: 800px;
  margin: auto;  
}

.categoryForm {
  padding-top: 6em;;
  margin: auto;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
}

.category {
  padding: 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #2b957d;
}

.category > * {
  padding: 0 0.5em 0 0.5em;
}

@media screen and (max-width: 500px) {
  .categoryForm {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
  }
}

.searchDiv {
  padding-top: 3em;
  margin: auto;
  opacity: 0.5;
}

.searchBar {
  border: 2px solid#2B957D;
  display: block;
  margin: auto;
  transition: background-color 0.5s ease-in-out;
  outline: none;
  letter-spacing: 0.1em;
  color: #2B957D;
  z-index: 5;
}

.searchBar:focus {
  border-color: #066D56;
  background-color:#d3f9e7;
}
 
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  justify-content: space-evenly;
  padding-top: 2em;
}

.dishCard {
  max-width: 400px;
  padding: 2em;
  margin-bottom: 2em;
}

.dishCard > * {
  padding: 0.5em 0 0.5em 0;
}

.dishName {
  padding-top: 1.5em;
  font-weight: 700;
  font-size: larger;
  color: #2B957D;
  text-transform: uppercase;
  line-height: 1.4em;
  letter-spacing: 0.2em;
  text-align: center;
}

.dishDescription {
  text-align: justify;
  line-height: 1.5em;
}

.dishPrice {
  font-weight: 700;
  font-size: larger;
  color: #F16A7F;
  text-align: center;
}

.addToCart {
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #2B957D;
}

.addToCart:hover {
  background-color: #E8AA43;
}

.addToCart:active {
  background-color: #F16A7F;
  font-weight: 800;
}

.carouselContainer {
  width: 100%;
  margin-top: 3em;
  padding-top: 3em;
  margin-bottom: 2em;
  display: flex;
}

.sliderimg{
  width: 100%;
  max-height: 70vh;
  margin: 1em auto 2em auto;
  object-fit: cover;
  opacity: 90%;  
}

.menuContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-evenly;
  
  align-items: center;
  margin: auto;
  margin-bottom: 5em;
}

.aboutDescription {
  padding-bottom: 3em;
  color: #E8AA43;
  line-height: 2em;
  font-weight: 600;
  background-color: #3f3f3f;
  padding: 2em;
  margin-bottom: 2em;
  border-radius: 15px;
}

.waiting {
  letter-spacing: 0.7em;
  padding-bottom: 2em;
  font-weight: 700;
  font-size: 2em;
  color: #5fc5ae;
}

.imageMenuContainer {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.imageMenu {
  margin: 1em 0 2em 0;
  border-radius: 50%;
}

.errorDisplay {
  font-size: xx-large;
  color: #C71834;
  font-weight: 600;
  text-align: center;
  padding-top: 3em;
}

.loginContainer {
  margin: 7em auto 0 auto;
  width: 80%;
  text-align: center;
}

.loginButton {
  border: 2px solid black;
  background-color:  #2B957D;
  padding: 1em;
  color: white;
  font-weight: 600;
  font-size: larger;
  line-height: 2em;
}

.loginButton:active, .loginButton:hover {
  background-color: #E8AA43;
  color: white;
}

.cartContainer {
  margin: 3em auto 5em auto;
  width: 80%;
}

.cart {
  border: 2px solid #2b957d;
  padding: 2em;
  justify-content: space-evenly;
  align-items: center;
}

.cartList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cartElement {
  padding: 1em 0.5em 1em 0.5em;
  width: 250px;
}

.cartElement > * {
  padding: 0;
}

.dishCartName {
  color: #066D56;
  font-size: 1.5em;
}

.dishCartPrice {
  color: #f16a7f;
  font-weight: 600;
  font-size: 1.5em;
}

.cartImage {
  width: 200px;
  height: auto;  
}

.removeItem {
  font-size: 0.8em;
  cursor: pointer;
}

.total {
  padding-top: 2em;
  font-size: 1.8em;
  color: #066D56;
}

.totalSubContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.totalPrice {
  color: #f16a7f;
  font-weight: 700;
}

.totalPay {
  padding: 0.5em;
  border: 1px solid black;
  background-color: #2B957D;
  color: white;
}

.totalPay:hover {
  background-color: #E8AA43;
}

.totalPay:active {
  background-color: #F16A7F;
  font-weight: 800;
}

@media screen and (min-width: 500px) {
  .headerDiv {
  margin-top: 3em;
  }
}

@media screen and (min-width: 700px) {

  .headerDiv {
    margin-top: 5em;
  }

  .navLinks > li {
    font-size: larger;
  }

  .searchBar {
    width: 50%;
  }

  .textImageMenu {
    font-size: 5em;
  }
}

@media screen and (max-width: 700px) {
  .dishCard {
    width: 100%;
    padding: 2em 0 0 0;
  }

  .introText {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}

@media screen and (max-height: 700px) {
  .headerDiv {
    height: 100vh;
  }
}
